{% extends 'AppT360Bundle::BasePage.html.twig' %}



{% block headerName %}
    <h1>Liste des axes d'évaluations 360°</h1>
{% endblock %}
{% block body -%}


    <div class="container">

        <div class="row">

            <div class="nav-tabs-custom nav">
                <ul class="nav nav-tabs ">

                    {% for i in 0..entities|length-1 %}
                        {% if activeId is defined %}
                            {% if entities[i].id== activeId %}
                                <li class="active"><a id="first" href="#info-section" class="clickable"
                                                      data-href-questions="{{ path("t360questions_axeid",{"id": entities[i].id}) }}"
                                                      data-href="{{ path("t360axes_edit",{"id": entities[i].id}) }}"
                                                      data-toggle="tab">{{ entities[i].libelle }}</a></li>
                            {% else %}

                                <li><a href="#info-section" class="clickable"
                                       data-href-questions="{{ path("t360questions_axeid",{"id": entities[i].id}) }}"
                                       data-href="{{ path("t360axes_edit",{"id": entities[i].id}) }}"
                                       data-toggle="tab">{{ entities[i].libelle }}</a></li>
                            {% endif %}
                        {% else %}

                            {% if i == 0 %}
                                <li class="active"><a id="first" href="#info-section" class="clickable"
                                                      data-href-questions="{{ path("t360questions_axeid",{"id": entities[i].id}) }}"
                                                      data-href="{{ path("t360axes_edit",{"id": entities[i].id}) }}"
                                                      data-toggle="tab">{{ entities[i].libelle }}</a></li>
                            {% else %}

                                <li><a href="#info-section" class="clickable"
                                       data-href-questions="{{ path("t360questions_axeid",{"id": entities[i].id}) }}"
                                       data-href="{{ path("t360axes_edit",{"id": entities[i].id}) }}"
                                       data-toggle="tab">{{ entities[i].libelle }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <li class="pull-right">
                        <button class="btn btn-box-tool btn-primary" data-toggle="modal" href="#new-axe-modal"><i
                                    class="fa fa-plus"></i>&nbsp;Ajouter Axe
                        </button>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="info-section" class="tab-pane active">
                        <div class="row " id="row-tab">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="box box-body box-danger">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><strong>Edit axe </strong></h3>

                                        <p class="text-red" id="edit-axe-title"></p>

                                    </div>
                                    <div id="edit-Axe" class="box-body "></div>
                                    <div class="overlay" id="edit-axe-overlay">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>


                            </div>


                            <div class="col-lg-5">
                                <div class="row"> <!-- linear schema -->
                                    <div class="box box-body box-danger">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"><strong>Liste des questions </strong></h3>

                                        </div>
                                        <div id="question-list" class="box-body"></div>
                                        <div class="overlay" id="question-list-overlay">
                                            <i class="fa fa-refresh fa-spin"></i>
                                        </div>
                                        <div class="box-footer">
                                            <a href="#new-question-modal" data-toggle="modal" class="btn btn-default">
                                                <i class="fa fa-arrow-circle-left"></i>
                                                Ajouter Question
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <!-- /linear schema -->

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <br/><br/><br/><br/><br/>

    </div>



    <div class="modal fade " id="new-axe-modal" tabindex="-1" role="dialog"><!-- div modal pour ajout d'axe -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Ajout d'une nouvelle evaluation </h3>
                </div>
                <div class="modal-body" id="form-add">
                    {{ render(controller('AppT360Bundle:T360Axes:new')) }}
                </div>
                <div class="modal-footer">
                    <div class="btn btn-danger" data-dismiss="modal">Annuler</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="new-question-modal" tabindex="-1" role="dialog"><!-- div modal pour ajout d'axe -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Ajout d'une nouvelle question </h3>
                </div>
                <div class="modal-body" id="form-add">
                    {{ render(controller('AppT360Bundle:T360Questions:new')) }}
                </div>
                <div class="modal-footer">
                    <div class="btn btn-danger" data-dismiss="modal">Annuler</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="edit-question-modal" tabindex="-1" role="dialog"><!-- div modal pour ajout d'axe -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Modifer une question </h3>
                </div>
                <div class="box">
                    <div class="modal-body box-body" id="form-edit-question">

                    </div>
                    <div class="overlay" id="edit-question-overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="btn btn-danger" data-dismiss="modal">Annuler</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $.ajax({url: $("#first").attr("data-href")}).then(function (data) {
                $("#edit-Axe").html(data);
                $("#edit-axe-overlay").toggle();
                $("#edit-axe-title").append($("#first").text());
//                console.log(data);

            }).fail(function () {
                $("#edit-axe-overlay").toggle();
                $("#edit-axe-overlay").html('<div class="center-block text-center"><h4 class="text-red-total"><span class="fa fa-warning"> </span> &nbsp; Erreur de connexion</h4></div>');
            });

            $.ajax({url: $("#first").attr("data-href-questions")
            }).then(function (data) {
                $("#question-list").html(data);
//                console.log(data);
                $("#question-list-overlay").toggle();
            }).fail(function () {
                $("#question-list").html('<div class="center-block text-center"><h4 class="text-red-total"><span class="fa fa-warning"> </span> &nbsp; Erreur de connexion</h4></div>');
                $("#question-list-overlay").toggle();
            });

        });

        $(".clickable").click(function () {

            if (!$(this).parent().hasClass('active')) {
                var libelle = $(this).text();
                $("#edit-axe-overlay").toggle();
                $("#question-list-overlay").toggle();
                $.ajax({url: $(this).attr("data-href")}).then(function (data) {

                    $("#edit-Axe").html(data);
                    $("#edit-axe-overlay").toggle();
                    $("#edit-axe-title").html(libelle);

                }).fail(function () {
                    $("#question-list").html('<div class="center-block text-center"><h4 class="text-red-total"><span class="fa fa-warning"> </span> &nbsp; Erreur de connexion</h4></div>');
                    $("#question-list-overlay").toggle();
                });

                $.ajax({url: $(this).attr("data-href-questions")}).then(function (data) {
                    $("#question-list").html(data);
                    $("#question-list-overlay").toggle();

                }).fail(function () {
                    $("#edit-axe-overlay").toggle();
                    $("#edit-axe-overlay").html('<div class="center-block text-center"><h4 class="text-red-total"><span class="fa fa-warning"> </span> &nbsp; Erreur de connexion</h4></div>');
                });
            }
        });


    </script>
{% endblock %}
