{% extends 'AppT360Bundle::BasePage.html.twig' %}

{% block headerName %}
    <h1>Liste des Evaluations 360</h1>
{% endblock %}
{% block body -%}

    <div class="container">
        <br/>

        <div class="panel panel-default box box-body box-danger">
            <table class="table table-hover table-bordered text-center">
                <thead>
                <tr>
                    <td class="col-lg-1"><h5><strong>CIN</strong></h5></td>
                    <td class="col-lg-2"><h5><strong>Nom </strong></h5></td>
                    <td class="col-lg-2"><h5><strong>Prenom</strong></h5></td>
                    <td class="col-lg-2"><h5><strong>Poste</strong></h5></td>

                </tr>
                </thead>
                <tbody>

                {% for entity in entities %}
                    <tr>
                        <td class="col-lg-1">
                            <h5><span class="badge">{{ entity.cin }}</span></h5>
                        </td>
                        <td class="col-lg-2">
                            <h5>{{ entity.nom }}</h5>
                        </td>
                        <td class="col-lg-2">
                            <h5>{{ entity.prenom }}</h5>
                        </td>

                        <td class="col-lg-2">
                            <h5>{{ entity.Poste.Direction ~ " "~ entity.Poste.Poste }}</h5>
                        </td>
                        <td class="col-lg-3">

                            <a href="{{ path('get_historique_results',{ 'cin': entity.cin }) }}"
                               class="btn btn-primary hvr-grow"><span
                                        class="fa fa-line-chart">&nbsp; Resultats</span></a>



                        </td>

                    </tr>


                {% endfor %}


                </tbody>
            </table>
        </div>


    </div>
    </div>
    </div>

    <div class="modal fade " id="edit-eval-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Edit Evaluation</h3>

                    <div class="modal-body" id="form-edit">

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="btn btn-danger" data-dismiss="modal">Annuler</div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $(".click_class").click(function () {
                var url = $(this).attr('id');
                console.log(url);
                $.ajax({url: url}).then(function (data) {
                    console.log(data);
                    $("#form-edit").html(data);
                });
            });
        });
    </script>




{% endblock %}
