{% extends 'AppT360Bundle::BaseformPage.html.twig' %}

{% block body -%}

{% set compteur=0 %}
<div class="box-group" id="accordion">
    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->

    {% for entity in entites %}
        <div class="panel box box-danger">
            <div class="box-header with-border">
                <h4 class="box-title">
                    {% if compteur == 0 %}

                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ entity.direction }}"
                           aria-expanded="true"
                           class="">
                            {{ entity.direction }}
                        </a>

                    {% else %}

                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ entity.direction }}"
                           class="panel-collapse collapsed" aria-expanded="false">
                            {{ entity.direction }}
                        </a>

                    {% endif %}
                </h4>
            </div>
            {% if compteur==0 %}
                <div id="{{ entity.direction }}" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="box-body">
                        <table class="table table-hover  text-center">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Libelle</th>
                                <th>niveau</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for poste in entity.postes %}
                                <tr>

                                    <td><span class="badge">{{ poste.id_poste }}</span></td>
                                    <td>{{ poste.poste_libelle }}</td>
                                    <td>{{ poste.poste_niveau }}</td>
                                    <td><a data-href="{{ path('postes_edit', { 'id': poste.id_poste }) }}"
                                           class="btn btn-primary hvr-grow clickable-poste" data-toggle="modal"
                                           data-target="#edit_poste"><span
                                                    class="fa fa-edit">&nbsp; Edit</span></a>

                                        <a href="{{ path('postes_delete', { 'id': poste.id_poste }) }}"
                                           class="btn btn-box-tool hvr-grow clickable" data-toggle="modal"
                                           data-target="#edit_employee"><span
                                                    class="fa fa-remove">&nbsp; Delete</span></a></td>
                                </tr>

                            {% endfor %}

                        </table>

                    </div>
                </div>
            {% else %}
                <div id="{{ entity.direction }}" class="panel-collapse collapse" aria-expanded="true">
                    <div class="box-body">
                        <table class="table table-hover  text-center">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Libelle</th>
                                <th>niveau</th>
                            </tr>
                            </thead>
                            {% for poste in entity.postes %}
                                <tr>

                                    <td><span class="badge">{{ poste.id_poste }}</span></td>
                                    <td>{{ poste.poste_libelle }}</td>
                                    <td>{{ poste.poste_niveau }}</td>
                                    <td><a data-href="{{ path('postes_edit', { 'id': poste.id_poste }) }}"
                                           class="btn btn-primary hvr-grow clickable-poste" data-toggle="modal"
                                           data-target="#edit_poste"><span
                                                    class="fa fa-edit">&nbsp; Edit</span></a>

                                        <a href="{{ path('postes_delete', { 'id': poste.id_poste }) }}"
                                           class="btn btn-box-tool hvr-grow clickable" data-toggle="modal"
                                           data-target="#edit_employee"><span
                                                    class="fa fa-remove">&nbsp; Delete</span></a></td>
                                </tr>

                            {% endfor %}

                        </table>

                    </div>
                </div>
            {% endif %}
        </div>
        {% set compteur=compteur+1 %}
    {% endfor %}

</div>



    <div class="modal fade " id="edit_poste" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Edit Poste</h3>

                    <div class="modal-body" id="edit-poste-body">

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="btn btn-danger" data-dismiss="modal">Annuler</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $(".clickable-poste").click(function () {
                $("#edit-poste-body").html("");
                $.ajax({url: $(this).attr("data-href")}).then(function (data) {
                    $("#edit-poste-body").html(data);
                });
            });
        })
    </script>
    {% endblock %}
